# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.npz
*.npy

# Env
.venv/
env/
venv/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Audio files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

#Pre-trained models
checkpoints/