# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.ipynb_checkpoints/

# Virtual environment
awol-clap-env/
.env/
.venv/
env/
venv/
awol-ddsp-env/

# Output / generated data
data/embeddings/
data/audio_references
output/audio/
output/audio_features
output/plots/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Temporary or backup files
*.bak
*.swp
*~