# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.npz
*.npy
*.egg-info/
build/
dist/

# Env
.venv/
env/
venv/
.venv310/
venv310

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Audio files
data/**
!data/raw
!data/raw/**
!data/meta/
!data/meta/**
!data/processed/.gitkeep

# keep small, precomputed audio embeddings + index
!data/processed/embeddings/audio/
!data/processed/embeddings/audio/*.audio.npy
!data/processed/embeddings/audio/meta.json
!data/processed/index/
!data/processed/index/faiss_ip.index
!data/processed/index/names.npy

#Outputs audio
outputs/

#CLAP pre-trained model
checkpoints/clap/clap_630k.pt